.rephrase-table-data-cell,
.rephrase-table-header-cell,
.rephrase-matrix-header-cell-col
{
    text-align: right;
}

.rephrase-matrix-header-cell-row {
    text-align: left;
}

.rephrase-matrix-data-cell
{
    text-align: right;
}

.rephrase-pager {
    margin-left: 0;
    margin-right: 0;
}


.inflation {
    font-style: oblique;
}

tr.foo-bar {
    font-style: oblique;
}

